extends layout

block search
   li
      form(class="blue-grey-text text-darken-3")
         div(class="input-field blue-grey-text text-darken-3")
            input(id="search" type="search" required)
            label(for="search")
               i(class="mdi-action-search blue-grey-text text-darken-3")
            i(class="mdi-navigation-close")

block content
   h1(class="white-text center-align") Series List
   input(class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" placeholder="Search...")
   div(class="center-align left-one")
      ul
         div(id="bodyContent")
            each singleSeries, i in series
               div(style="position: relative; width:160px; height:225px; border:4px groove black; float:left; margin-right: 2%; margin-bottom: 1em")
                  img(src="/images/place-holder-240x200.jpg" data-src=singleSeries.poster class="lazyload"
                  style="position: relative; width:160px; height:225px; border:4px groove black; float:left; margin-right: 2%; margin-bottom: 1em"
                  title=singleSeries.title alt=singleSeries.title)
                  a(class="btn-floating btn-large waves-effect waves-light yellow accent-4"
                  style="position: absolute; padding:0px; margin:0px" onclick='showSeriesTitle("#{singleSeries.title}")')
                     i(class="mdi-content-add")
                  //input(type="checkbox" style="position: absolute; padding:0px; margin:0px" class="filled-in")

         p(style="clear: both;")
